
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");
@import url("http://fonts.googleapis.com/css?family=Lato:400,700,200");

// Variables
@import "variables";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.navbar {
  	padding: 15px 25px;
   	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
   	display: flex;
   	justify-content: space-between;
   	align-items: center;
   	&__brand {
        color: #fff;
        font-weight: bold;
    }
    &__list {
    	margin: 0;
        padding: 0;
    }
    &__item {
    	display: inline;
      margin-left: 25px;
      color: #fff;
    }
}

.navbar1{
  background: #003366;
  margin-bottom:50px;
}
